@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-zoe-bg: #F9F9F7;
  --color-zoe-green: #2E4D44;
  --color-zoe-charcoal: #1A1A1A;
  --color-zoe-cream: #F0EDE4;
}

body {
  background-color: var(--color-zoe-bg);
  color: var(--color-zoe-charcoal);
  font-family: var(--font-sans);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e2e2;
  border-radius: 10px;
}
